<table *ngIf="(products$ | async) as productsSlice">
  <thead>
  <tr>
    <th>ID</th>
    <th>NAME</th>
    <th>QTY</th>
    <th colspan="2">ACTIONS</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of productsSlice.data">
    <td>{{item.id}}</td>
    <td>{{item.name}}</td>
    <td>{{item.qty}}</td>
    <td><a [routerLink]="['edit/'+item.id]"> edit </a></td>
    <td><a (click)="remove(item.id)"> remove </a></td>
  </tr>
  </tbody>
</table>

<button [routerLink]="['new']"> add product</button>

<router-outlet></router-outlet>
