<div class="row">
  <div class="col">
    <form [formGroup]="productForm">
      <div class="form-group">
        <input class="form-control" type="text" formControlName="name" placeholder="name"/>
        <input class="form-control" type="text" formControlName="qty" placeholder="quantity">
      </div>
    </form>

    <button class="btn btn-success" (click)="addProduct()" *ngIf="mode== 'NEW'">add product</button>

    <button class="btn btn-success" (click)="editProduct()" *ngIf="mode== 'EDIT'">edit product</button>

  </div>
</div>
